<!DOCTYPE html>
<html lang="en">
  <%- include("partials/header.ejs") %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/viewBlog.css">
  <title>Blog Posts Viewing</title>
</head>

<!-- <body>
  <form class = "buttonHome"  action="/" method="GET">
    <input class="button" type="submit" value="Home">
</form> -->
  <h1>The BlogHive</h1>
  <form class = "buttonForm"  action="/create" method="GET">
    <input class="button" type="submit" value="<%= count === 0 ? 'Make the FIRST!' : 'Create Another Blog' %>">
</form>
  <% var colors = []%>
  <div class="container">
    <% if (count === 0){ %>
      <h2>There are no blogs to view :(</h2>
    <% } %>

    <% for(var i = 0; i < count; i++){ %>
      <%var delName = "delete " + (i);%> 
      
      <div class="list-of-Blogs">
        <h2 class="title"><%= blogs[i].blogTitle %></h2>
        <p>By: <%= blogs[i].authorName %> (<%= blogs[i].authorEmail %>)</p>
        <p>&emsp; <%= blogs[i].blogText %></p>

        <form action="/delete" method="POST">
          <button name= <%= delName%> value=<%= delName.charAt([delName.length - 1])%>><strong>DELETE</strong></button>
        </form>
      </div>
    <% } %>
  </div>


</body>

</html>
<%- include("partials/footer.ejs") %>
