<!DOCTYPE html>
<html lang="en">
  

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/main.css">

  <!-- Add the link to the CSS stylesheet here -->
  <!-- Hint: the link is relative to the public folder -->
  <title>Blog Posts Viewing</title>
</head>


<h1>The Blogs List</h1>
<div class = "container">

  <div class="list-of-Blogs">
    <h2 class="title"><%= blogTitle  %></h2>
    <p>By: <%= authorName %> (<%= authorEmail %>)</p>
    <p>
      &emsp; 
      <%= blogText %></p>
  </div>


  <div class="list-of-Blogs">
    <h2 class="title"><%= blogTitle  %></h2>
    <p>By: <%= authorName %> (<%= authorEmail %>)</p>
    <p>
      &emsp; 
      <%= blogText %></p>
  </div>

</div>